/* Mobile/PC - Universal tag
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 501px) {
	.mobile-only { display: none; }
}
@media (max-width: 500px) {
	.pc-only { display: none; }
}

/* Backgrounds - Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
.header, .desenvolvimento, .download-header {
    background-position: center;
    background-size: cover;
}
.header, .musicas {
    background-attachment: fixed;
}
.musicas {
    background-repeat: repeat;
    background-position: top left;
}
@media (min-width: 0px) and (max-width: 1000px) { 
    .header { 
        background-image: url('../img/header_m.jpg'); 
    }
    .musicas { 
        background-image: url('../img/musicas_m.jpg'); 
    }
    .desenvolvimento { 
        background-image: url('../img/desenvolvimento_m.jpg'); 
    }
    .download-header { 
        background-image: url('../img/download_m.jpg'); 
    }
}
@media (min-width: 1000px) { 
    .header { 
        background-image: url('../img/header_g.jpg'); 
    }
    .musicas { 
        background-image: url('../img/musicas_g.jpg'); 
    }
    .desenvolvimento { 
        background-image: url('../img/desenvolvimento_g.jpg'); 
    }
    .download-header { 
        background-image: url('../img/download_g.jpg'); 
    }
}

/* Estilos - Padronização 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0;
    text-align: center;
}
.extra-space { 
    /* segue o padrao de espaçamento do section */
    margin-bottom: 6rem !important; 
} 
.no-space { 
    /* zera apenas a margem inferior */
    margin-bottom: 0 !important; 
} 
.texto-titulo {
    font-size: 4.6rem !important; 
    font-weight: 300; 
    line-height: 1.25; 
    margin-bottom: 0;
}
/* Na versão mobile o titulo se iguala ao grande */
@media (max-width: 500px) {
    .texto-titulo {font-size: 3.6rem;}
}
.texto-grande {
    font-size: 3.6rem; 
    font-weight: 300; 
    line-height: 1.25; 
    margin-bottom: 2rem;
}
.texto-medio {
    font-size: 2.45rem; 
    font-weight: 300; 
    line-height: 1.6;  
    letter-spacing: -.05rem; 
    margin-bottom: 2rem;
}
.texto-pequeno {
    font-weight: 300;
    opacity: .8;
}
.texto-left {
    text-align: left;
}
.titulo {
    font-weight: 600; 
}
.img-adjust img{
    max-width: 100%;
}
.roxo {
    color: #b58eff;
    font-weight: 500;
}
a {
    color: #31aef0;
}
a:hover {
    color: #4798c3;
}

/* Nav / Padrão
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu {
    background-color: rgba(18, 18, 18, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.menu ul {
    padding: 5px;
    margin: 0;
}
.menu ul a li {
/*    padding: 20px;*/
    display: inline;
    color: #aaaaaa;
    font-size: 0.9em;
}
.menu ul a li:first-child {
/*    padding-right: 5px;*/
}
.menu ul a { 
    text-decoration: none; 
    text-transform: uppercase;
}
.trigger { 
    display: none !important; 
}
/* Efeito "Brackets" */
.menu a li::before, .menu a li::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.1s;
}
.menu a li::before {
	content: '[';
    margin-right: 9px;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.menu a li::after {
	content: ']';
    margin-left: 9px;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.menu a:hover li::before, .menu a:hover li::after,
.menu a:focus li::before, .menu a:focus li::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* ^ Nav / Mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 500px) {
	.hamburg { display: none; }
}
@media (max-width: 500px) {
    /* Icone Hamburguer / Linhas
    –––––––––––––––––––––––––––– */
    .box-menu {
        margin: 4px !important;
        margin-bottom: 0 !important;
        padding: 0 !important;
    }
    .hamburg {
        display: inline-block;
        cursor: pointer;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        text-align: right;
    }
    .hicon {
        display: inline-block;
        padding: 6px;
        margin-bottom: -8px;
        -webkit-transform: translate(0,-2px);
        transform: translate(0,-2px);
    }
    .hbar1, .hbar2, .hbar3 {
        width: 20px;
        height: 2px;
        background-color: #aaaaaa;
        margin: 5px;
        margin-bottom: 0;
        padding: 0;
        transition: 0.4s;
    }
    
    /* Icone Hamburguer / ANIMAÇÃO
    –––––––––––––––––––––––––––– */
    .trigger:checked + .box-menu .hamburg .hbar1 {        
        -webkit-transform: rotate(-45deg) translate(-3px, 5px);
        transform: rotate(-45deg) translate(-3px, 5px);
    }
    .trigger:checked + .box-menu .hamburg .hbar2 {
        opacity: 0; 
    }
    .trigger:checked + .box-menu .hamburg .hbar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -7px);
        transform: rotate(45deg) translate(-5px, -7px);
    }
    .trigger + .box-menu .hamburg { 
        background: rgba(119, 119, 119, 0) !important; 
        border-radius: 10px;
        transition: all 0.6s;
    }
    .trigger:checked + .box-menu .hamburg { 
        background: rgba(119, 119, 119, 0.41) !important; 
    }
    
    /* ^ Nav / Menu Superior - Mobile style
    –––––––––––––––––––––––––––– */
    .menu-content { margin-top: 4px; }
    
	ul .menu-content a:first-child li {
		margin-top: 18px;
	}
	ul .menu-content a li {
	  display: block;
	  padding: 13px 20px;
	}
    
    /* Menu Mobile / ANIMAÇÃO
    –––––––––––––––––––––––––––– */
	ul .menu-content {
	  overflow: hidden;
	  min-height: 0px;
	  max-height: 0px;
	  transition: all 0.8s;
	}
	.trigger:checked + .box-menu .menu-content {
	  min-height: 100vh !important;
	  max-height: 100vh !important;
	}
}

/* Header - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    background-color: #121212;
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 27em;
}
.header .row {
    text-align: center;
}

/* main - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main {
    background-color: #f9f9f9;
}

/* Jogo - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.jogo {
    background-color: #f9f9f9;
}
.logo-img {
    width: auto;
    height: 50px;
}
.ilustrativo {
    display: inline-block;
    background-color: #e6e6e6;
    max-width: 400px;
    margin-bottom: 3rem;
}
.ilustrativo img {
    width: 100%;
    margin-bottom: -0.5em;
}
.ilustrativo p {
    margin: 0;
    color: #717171;
    font-size: 0.9em;
}

/* Vimeo - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.embed-limiter {
    margin: 0 auto;
    max-width: 600px;
}
.embed-vimeo { 
    position: relative; 
    padding-bottom: 56.25%; /* Medida padronizada / Vimeo */
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 
.embed-vimeo iframe, .embed-vimeo object, .embed-vimeo embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* Musicas - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.musicas { 
    background-color: #121212;
    color: #fff;
}

/* Desenvolvimento - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.desenvolvimento {
    background-color: #051222;
    color: #fff;
}

/* Footer - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    background-color: #121212;
    color: #fff;
    padding: 2rem 0;
}
.ft-lg-img {
    width: 100%;
    max-width: 200px;
}
.ft-lg-column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
}
.divisor {
    margin-bottom: 1.5rem;
}
.divisor:after {
    content: "";
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 2px;
    background: #191919;
}

/* Botao
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.botao {
    /* temporario */ 
	margin: 15px 30px;
    
    /* Estetica */
	border: 2px solid #fff;
    padding: 10px 40px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
    color: #fff;
    text-decoration: none;
    
    /* Efeito Botão */
	overflow: hidden;
    display: inline-block;
	position: relative;
    
    /* Efeito de Texto */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/*Fundo */
.botao:after {
	content: '';
        
    /* Posicionamento */
	position: absolute;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
    
    /* Estilo */
    mix-blend-mode: exclusion;
	background: #fff;
	opacity: 1;
    
    /* Movimentação */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* Texto / Hover-Clique */
.botao:hover, .btn:active {
	color: #fff;
}
/* botao / Hover */
.botao:hover:after {
	height: 320%;
	opacity: 1;
}
/* botao / Clique */
.botao:active:after {
	height: 400%;
	opacity: 1;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––– */
/* PAGINAS SECUNDARIAS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Download - Estilo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.download-header {
    background-color: #121212;
    display: flex;
    align-items: center;
    height: 40vh;
    min-height: 17em;
    text-align: center;
    color: #fff;
}
.download-seletores {
    display: inline-block;
    width: 90%;
}
.download-seletores div {
    display: inline-block;
    width: 30%;
}
.download-seletores a {
    cursor: pointer;
    text-decoration: none;
}
.download-seletores i {
    font-size: 50px;
}
.download-seletores i:hover {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.download-sa, .download-sa i, .download-sa p {
    transition: all 0.2s;
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    color: #767676;
}
.download-sd, .download-sd i, .download-sd p{
    transition: all 0.5s;
    color: #31aef0;
}
#windows, #linux, #apple {
    display: none;
}
.download-button {
    display: inline-block;
    background-color: #31aef0;
    color: #fff;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 7px 0px #4798c3;
    transition: all 100ms;
    margin-bottom: 1rem;
}
.download-button:hover { 
    color: #fff !important;
    -webkit-transform: translate(0,-4px);
    transform: translate(0,-4px);
    box-shadow: 0px 11px 0px #4798c3;
}
.download-button:active  {
    -webkit-transform: translate(0,7px);
    transform: translate(0,7px);
    box-shadow: 0px 0px 0px #70c0d9;
}
.download-button p { 
    margin: 0;
}
.download-button p:first-child { 
    font-size: 1.8em;
    font-weight: bold;
}
.download-button p:last-child { 
    font-size: 0.8em;
}
.download-description {
    color: #c4c4c4;
    font-size: 0.8em;
}
.download-box {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #dedede;
    margin-bottom: 3rem;
}
/* Codebox */
.codelimit {
    margin: 0 20px;
}
.codebox {
    text-align: left;
    padding: 15px;
    font-family: Courier, sans-serif;
    font-size: 13px;
    color: #fff;
    background-color: #3d3d3d;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 10px;
}
.codebox  p {
    text-align: left;
    color: #f9f9f9;
    padding: 0.6rem 0;
    border-bottom: solid 1px #555555;
    margin: 0;
    line-height: 1.8rem;
}
.codeheader {
    text-align: left;
    background-color: #3A5FCD;
    padding: 5px 5px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}

/* Pace Loading
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
/*  background: #2299dd;*/
  background: #F3F3F3;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}